nav {
    height: 70px;
    padding: 20px;
    top: 0;
    z-index: 10;
    position: fixed;
    width: 100%;
}

@media all and (min-width: 700px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.logopt2 {
    background: -webkit-linear-gradient(20deg, #a4c9ef, #076ECD);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navRight {
    margin: 20px 0;
    border: solid 1px #ffffff4b;
    background: #ffffff1a;
    border-radius: 100px;
    padding: 12px;
}

.navRight ul {
    display: flex;
    list-style-type: none;
    padding:0;
    margin:0;
}

.menuItem {
    padding: 7px 20px 5px 20px;
    border-radius: 100px;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.832);
    font-weight: 300;
    font-size: 15px;
    transition: all 1s ease;
    text-decoration: none;
    margin: 0 5px;
    display: block;
}

.active {
    background: #ffffffe8;
    color: rgba(0, 0, 0, 0.832);
    display: block !important;
}

.menuItem:hover {
    cursor: pointer;
    background: #ffffffe8;
    color: rgba(0, 0, 0, 0.832);
}

/* mobile nav formatting begins */
.burger {
    display: none;
}

@media all and (max-width: 700px) {
    .mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    /* menu burger begins */
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        cursor: pointer;
        transition: all 0.3s;
        overflow-y: hidden;
        margin-right: 10px;
    }

    .burger .bar {
        height: 3px;
        background-color: rgba(255, 255, 255, 0.692);
        transition: transform 0.5s ease;
    }
    /* open burger menu begins */
    .toggle {
        width: 30px;
        height: 30px;
        justify-content: center;
    }

    .toggle .line1 {
        transform: rotate(-225deg) translate(4px, -3px);
        width: 100%;
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(-135deg) translate(2px, 0px);
    }

    /* open burger menu ends */
    /* burger menu ends */

    .navRight {
        /* sets tabs as initially hidden */
        display: none;
        background-color: white;
    }

    /* mobile tabs formatting begins */
    .navRight {
        width: 100%;
        height: 100vh;
        position: fixed;
        left: 0;
        background-color: black;
        border-radius: 0;
        border: none;
        justify-content: center;
    }

    .navRight ul {
        padding: 0;
        flex-direction: column;
        justify-content: start;
    }

    .navRight ul li {
        text-align: center;
        padding: 15px;
        animation: navLinkFade 1s;
    }

    .navRight ul li a {
        margin: .5rem 1rem;
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateY(50px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* mobile tabs formatting ends */
}

/* mobile nav formatting ends */