body {
    font-family: 'Nohemi', Helvetica, sans-serif;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 1.2;
  }

/* Webfont: Nohemi-Thin */
@font-face {
    font-family: 'Nohemi';
    src: url('Nohemi-Thin.woff2') format('woff2'),
        url('Nohemi-Thin.otf') format('opentype');
    font-style: normal;
    font-weight: 100;
    text-rendering: optimizeLegibility;
}

/* Webfont: Nohemi-ExtraLight */
@font-face {
    font-family: 'Nohemi';
    src: url('Nohemi-ExtraLight.woff2') format('woff2'),
        url('Nohemi-ExtraLight.otf') format('opentype');
    font-style: normal;
    font-weight: 200;
    text-rendering: optimizeLegibility;
}

/* Webfont: Nohemi-Light */
@font-face {
    font-family: 'Nohemi';
    src: url('Nohemi-Light.woff2') format('woff2'),
        url('Nohemi-Light.otf') format('opentype');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: Nohemi-Regular */
@font-face {
    font-family: 'Nohemi';
    src: url('Nohemi-Regular.woff2') format('woff2'),
        url('Nohemi-Regular.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Nohemi-Medium */
@font-face {
    font-family: 'Nohemi';
    src: url('Nohemi-Medium.woff2') format('woff2'),
        url('Nohemi-Medium.otf') format('opentype');
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

/* Webfont: Nohemi-SemiBold */
@font-face {
    font-family: 'Nohemi';
    src: url('Nohemi-SemiBold.woff2') format('woff2'),
        url('Nohemi-SemiBold.otf') format('opentype');
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

/* Webfont: Nohemi-Bold */
@font-face {
    font-family: 'Nohemi';
    src: url('Nohemi-Bold.woff2') format('woff2'),
        url('Nohemi-Bold.otf') format('opentype');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: Nohemi-ExtraBold */
@font-face {
    font-family: 'Nohemi';
    src: url('Nohemi-ExtraBold.woff2') format('woff2'),
        url('Nohemi-ExtraBold.otf') format('opentype');
    font-style: normal;
    font-weight: 800;
    text-rendering: optimizeLegibility;
}

/* Webfont: Nohemi-Black */
@font-face {
    font-family: 'Nohemi';
    src: url('Nohemi-Black.woff2') format('woff2'),
        url('Nohemi-Black.otf') format('opentype');
    font-style: normal;
    font-weight: 900;
    text-rendering: optimizeLegibility;
}